* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* colors */
:root {
    --corPrimaria: #2c2b30;
    --colorDestaque: #64a191;
    --colorBranco: #f9f4f0;
}

/* GERAL */
img {
    width: 300px;
    height: 200px;
    border-radius: 15px;
    object-fit:cover;
}

a {
    color: var(--colorDestaque);
    text-decoration: none;
    transition: all 200ms ease-in-out;
}

a:hover {
    font-weight: bold;
}

body {
    background-color: var(--corPrimaria);
    color: var(--colorBranco);
}

/* Divisão de aside e main */
.page-container {
    margin: 0 auto;
    max-width: 1200px;
}
.containerWrap {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 40px;
}

/* HEADER */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px;
    margin: 20px 0px;
    padding: 20px;
    border-bottom: solid white 2px;
}
header nav {
    display: flex;
    gap: 20px;
}

/* aside */
.sidebar {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.widget {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.widget ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
    left: 50px;
}

/* MAIN */
main h2 {
    margin-top: 20px;
}
.intro {
    margin: 20p 0px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* post container */
.blog-posts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

/* Primeiro post */
.firstPost {
    grid-column: 1/3;
}
.firstPost img {
    width: 100%;
    height: 500px;
    margin: 10px 0px;
}